absl-py==2.3.1
aiofiles==24.1.0
attrs==25.4.0
chex==0.1.91
contourpy==1.3.3
cycler==0.12.1
etils==1.13.0
fire==0.7.1
flax==0.12.0
fonttools==4.60.1
fsspec==2025.9.0
humanize==4.13.0
importlib_resources==6.5.2
jax==0.7.2
jaxlib==0.7.2
kiwisolver==1.4.9
markdown-it-py==4.0.0
matplotlib==3.10.7
mdurl==0.1.2
ml_collections==1.1.0
ml_dtypes==0.5.3
msgpack==1.1.2
nest-asyncio==1.6.0
numpy==2.3.3
-e git+ssh://git@github.com/harmanagrawal/open_spiel.git@b058354c7e5528806093f731de9883eab99ad763#egg=open_spiel
opt_einsum==3.4.0
optax==0.2.6
orbax-checkpoint==0.11.25
packaging==25.0
pandas==2.3.3
pillow==11.3.0
protobuf==6.32.1
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
rich==14.2.0
scipy==1.16.2
simplejson==3.20.2
six==1.17.0
tensorstore==0.1.78
termcolor==3.2.0
toolz==1.0.0
treescope==0.1.10
typing_extensions==4.15.0
tzdata==2025.2
zipp==3.23.0
